
body{
		width: 100%;
}
.home{
	vertical-align: middle;
}
.appform{
	text-align: center;
	font-size: 2em;
	border-radius: 20px;
}
.apf{
	border-width: 10px;
	position: absolute;
	margin: 80px;
	border-radius: 20px;

}

p{
	columns: 2;
	text-align: justify;
}

input[type="text"]{
	font-family: Arial;
	color: Black;
	font-weight: bold;
}
input[type="submit"]{
		
		font-family: "times new roman";
		width: 100px;
		height: 40px;
		font-size: 20px;
		border: 2px solid black;
		border-radius: 30px;
		color: rgb(7, 3, 3);
}
input[type="reset"]{
		font-family: "times new roman";
		width: 100px;
		height: 40px;
		font-size: 20px;
		border: 2px solid black;
		border-radius: 30px;
		color: rgb(0, 0, 0);
}
